body { 
margin-top: 30px; 
text-align: center;
background-color: black; 
color: white;
}

div { 
    text-align: center;
} 
 
a {
  text-align:center;
  color: cyan; 
  font-weight: bolder; 
  text-decoration: none;
}
